<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTOMC32h0i82P2ZFPLIV2uwacIq0c8S0U</string>
	<key>GCM_SENDER_ID</key>
	<string>284919139346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mateApp</string>
	<key>PROJECT_ID</key>
	<string>mateapp-8a35b</string>
	<key>STORAGE_BUCKET</key>
	<string>mateapp-8a35b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284919139346:ios:30157380e092a3a6175ccb</string>
</dict>
</plist>